<!doctype html>
        <html lang="es">
        
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
            <title>FarmaStuff</title>
            <!-- CSS  -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="../../resources/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
            <link href="../../resources/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
            <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
            <!-- Googlefont -->
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
        </head>
        
        <body>
            <nav class="rgb(202, 104, 104)" role="navigation">
                <div class="nav-wrapper container nav">
                    <a class="navbar-brand" href="#">
                        <a href="#" data-target="nav-mobile" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
                        <img src="../../resources/img/logoconpng.png" width="95" height="70" class="left">
                        <a id="logo-container" href="#" class="brand-logo left-align">
                            <i class="material-icons" style="font-style: oblique;"></i>
                            <a href="../../views/public/index.html" class="right-align"> 
                            <font color="#fff9c4" size="5" face="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg">FarmaStuff</font>
                            </a>
                        </a>
        
                        
        
                        <ul class="right hide-on-med-and-down">
                            <li><a href="../../views/public/quienesSomos.html">Conócenos</a></li>
                            <li><a href="../../views/public/sucursales.html">Sucursales</a></li>
                            <li><a href="../../views/public/login.html" class="btn white black-text waves-effect waves-blue-grey lighten-1">Iniciar sesión</a></li>
                        </ul>
        
                        <ul id="nav-mobile" class="sidenav">
                            <li><a href="../../views/public/quienesSomos.html">Conócenos</a></li>
                            <li><a href="../../views/public/sucursales.html">Sucursales</a></li>
                            <li><a href="../../views/public/login.html" class="btn red black-text waves-effect waves-blue-grey lighten-1">Iniciar sesión</a></li>
                            <hr>
                            <li><a href="../../views/public/ofertas.html">Ofertas</a></li>
                            <li><a href="../../views/public/receta.html">Compra con receta</a></li>
                            <li><a href="../../views/public/recetaConSeguro.html">Compra con seguro</a></li>
                            
                            <hr>
                            <ul id="dropdown1" class="dropdown-content">
                                <li><a href="#!">Medicinal</a></li>
                                <li><a href="#!">Conveniencia</a></li>
                                <li class="divider"></li>
                                <li><a href="../../views/public/ofertas.html">Ofertas</a></li>
                            </ul>
                            <li>
                                <!-- Dropdown Trigger -->
                                <li><a class="dropdown-trigger btn disabled" href="#!" data-target="dropdown1">Categorías<i class="material-icons right">arrow_drop_down</i></a></li>
                            </li>
                            <li><a href="../../views/public/ofertas.html" style="color:black;">Ofertas</a></li>
                            <li><a href="../../views/public/receta.html" style="color:black;">Compra con receta</a></li>
                            <li><a href="../../views/public/recetaConSeguro.html" style="color:black;">Compra con seguro</a></li>
                        </ul>
                </div>
            </nav>
            <div class="navbars">
            </div>
            <div class="navbarsecond">
            </div>
        
            <nav class="red lighten-5" role="navigation">
                <div class="nav-wrapper container nav">
                    <center>
                        <ul class="right hide-on-med-and-down">
                            <!-- Dropdown Structure -->
                            <ul id="dropdown1" class="dropdown-content">
                                <li><a href="#!">Medicinal</a></li>
                                <li><a href="#!">Conveniencia</a></li>
                                <li class="divider"></li>
                                <li><a href="../../views/public/ofertas.html">Ofertas</a></li>
                            </ul>
                            <li>
                                <!-- Dropdown Trigger -->
                                <li><a class="dropdown-trigger btn red lighten-2" href="#!" data-target="dropdown1">Categorías<i class="material-icons right">arrow_drop_down</i></a></li>
                            </li>
                            <li><a href="../../views/public/ofertas.html" style="color:black;">Ofertas</a></li>
                            <li><a href="../../views/public/receta.html" style="color:black;">Compra con receta</a></li>
                            <li><a href="../../views/public/recetaConSeguro.html" style="color:black;">Compra con seguro</a></li>
                            <li><a href="carritoCompras.html" class="red lighten-2 waves-effect waves-light red btn btn-floating btn btn-danger "><i class="material-icons" style="font-style: unset;">add_shopping_cart</i></a></li>
                        </ul>
                        
                        <ul id="nav-mobile" class="sidenav">
                            <li><a href="../../views/public/ofertas.html" style="color:black;">Ofertas</a></li>
                            <li><a href="../../views/public/receta.html" style="color:black;">Compra con receta</a></li>
                            <li><a href="../../views/public/recetaConSeguro.html" style="color:black;">Compra con seguro</a></li>
                        </ul>
                    </center>
                </div>
            </nav>
    <main>

<!-- ---------------------------------------------------------------------------------------- -->

<link href="../../resources/css/login.css" type="text/css" rel="stylesheet" media="screen,projection" />
  
<div class="container">
  <div class="container-fluid">
            <form  method="post" id="session-form" class="sign-box enters" >
            
            <input id="datafecha" type="text" name="datafecha"  class="hide" />
            <input id="databrowser" type="text" name="databrowser" class="hide" />
            <input id="dataos" type="text" name="dataos" class="hide" />
            <input id="codigovalidar" type="text" name="codigovalidar" class="hide" />

                <div class="sign-avatar">
                    <img src="../../resources/img/Originals/logoconpng.png" alt="">
                </div>
                <span><i class="fas fa-user-alt"></i> Inicio de sesión</span><br/>
            <div class="form-group">                
                <input id="usuariocliente" type="text" name="usuariocliente" class="validate" required oncopy="return false" oncut="return false" onpaste="return false" />
            </div>
            <div class="form-group">
                <input id="clavecliente" type="password" name="clavecliente" class="validate" required oncopy="return false" oncut="return false" onpaste="return false" required autocomplete="off"/>
            </div>
              <p>
              <div class="col s12 center-align">
                <button type="submit" class="btn waves-effect blue tooltipped" data-tooltip="Ingresar">Iniciar sesión <i class="material-icons">send</i></button>
            </div>
        </p>
        <div class="divider"></div>
        <a href="registroCliente.php" class="reset">Registrate</a> |
        <a href="recuperarContra.php" class="reset">Recuperar</a>
        </form>
  </div>
</div>

<!-- ---------------------------------------------------------------------------------------- -->
</main>
<footer class="page-footer #e57373">
</div>
    </div>
        <br>
        <div class="container center footer-text">
        <b>Enlaces de interés</b>
        <br>
        ---
    </div>
            <center>
             <button type="submit" style="background-color: #ef9a9a " class="btn btn-primary btn-xs">Contacto</button>
             <button type="submit" style="background-color: #ef9a9a" class="btn btn-primary btn-xs">Enlaces</button>
             <button type="submit" style="background-color: #ef9a9a" class="btn btn-primary btn-xs">Proveedores</button>
             <button type="submit" style="background-color: #ef9a9a" class="btn btn-primary btn-xs">Red de médicos</button>
             <button type="submit" style="background-color: #ef9a9a" class="btn btn-primary btn-xs">Términos y condiciones</button>
            </center>
                    <div class="row pb-3">
                        <div class="col-md-12">
                            <br>
                            <center>
                            <div class="aside">
                                <a title="Facebook" href="https://es-la.facebook.com/"><img src="../../resources/img/facebook_icon-icons.com_53612.png" width="50" height="50"></a>
                                <a title="Instagram" href="https://www.instagram.com/Farma_Stuff"><img src="../../resources/img/Instagram_icon-icons.com_66804.png" width="50" height="50"></a>
                                <a title="Twitter" href="https://twitter.com/?lang=es"><img src="../../resources/img/5294-twitter-i_102511.png" width="50" height="50"></a>
                            </div>
                        </center>
                        </div>
                    </div>
                </div>

<!--  En esta zona va el copyright de la página-->
<div class="footer-copyright">
<div class="container center footer-text">
&copf; FarmaStuff - 2021
</div>
</div>
</footer>
<!--Importación de archivos JavaScript al final del cuerpo para una carga optimizada-->
<script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../app/helpers/components.js"></script>                
<script type="text/javascript" src="../../resources/js/materialize.min.js"></script>              
<script src="../../resources/js/init.js"></script>
<script type="text/javascript" src="../../app/controllers/public/account.js"></script>
<script type="text/javascript" src="../../app/controllers/public/login.js"></script>

</body>
</html>